/* ===================================================================
  テキストコンポーネント
   =================================================================== */

.c-text {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $color-text;
  line-height: calc(30/14);

  &__sectionTitle {
    text-align: center;
    font-size: 3.6rem;
    font-weight: medium;
    letter-spacing: 0.05em;
    color: $color-text-sectionTitle;
    margin-bottom: 70px;
  }

  &__sectionSubTitle {
    font-size: 2rem;
    font-weight: bold;
    color: $color-text-sectionSubTitle;
    letter-spacing: 0.1em;
    line-height: 2;
    margin-bottom: 30px;
  }
}
