/* ================================================================
  About
   ================================================================ */

.p-about {
	padding-top: 175px;
	margin-top: -75px;

	&__inner {
		width: 100%;
		max-width: $width-inner-sp;
    margin: 0 auto;
    
    @include mq(pc) {
			max-width: $max-width-inner-pc;
		}
	}
}
