/* ================================================================
  About
   ================================================================ */

.p-about {
  padding-top: 100px;
  
  &__inner {
    width: 100%;
    margin: 0 auto;
    max-width: $width-inner-sp;
  }
  
  @include mq(pc){
		max-width: $max-width-inner-pc;
	}
}
