/* ================================================================
  ヘッダー
   ================================================================ */

.p-header {
	width: 100%;
	height: 75px;
	border-bottom: solid 1px $color-header-border;
	background: $color-header-bg;

	@include mq(pc) {
		max-width: $max-width;
	}

	&__inner {
		display: flex;
		width: 100%;
		max-width: $width-inner-sp;
		justify-content: space-between;
		margin: 0 auto;
	}

	&__logo {
		margin-top: 20px;

		h1 {
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-weight: medium;
			font-size: 2.6rem;
			letter-spacing: 0;
		}
	}

	&__nav {
		display: none;
		margin-top: 27px;

@include mq(pc) {
			display: block;
		}
	}

	&__list {
		display: flex;
		list-style: none;
	}

	&__item {
		margin-left: 20px;

		a {
			color: #fff;
			font-weight: medium;
			font-size: 1.6rem;
			text-decoration: none;
			letter-spacing: 0;
		}
	}

	&__menu {
		position: relative;
		width: 25px;
		height: 16px;
		margin-top: 29px;
	}

	&__menuLine {
		position: absolute;
		width: 25px;
		height: 2px;
		background-color: #fff;

@include mq(pc) {
			display: none;
		}

		&:first-child {
			top: 0;
		}

		&:nth-child(2) {
			top: 8px;
		}

		&:last-child {
			top: 16px;
		}
	}
}
