/* ================================================================
  ヘッダー
   ================================================================ */

.p-header {
	display: flex;
	width: 100%;
	margin: 0 auto;
	max-width: $width-inner-sp;
	height: 75px;
	justify-content: space-between;

	&__logo {
		margin-top: 20px;

		h1 {
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-weight: medium;
			font-size: 2.6rem;
			letter-spacing: 0;
		}
	}

	&__nav {
		display: none;
	}

	&__menu {
		position: relative;
		width: 25px;
		height: 16px;
		margin-top: 29px;
	}

	&__menuLine {
		position: absolute;
		width: 25px;
		height: 2px;
		background-color: #fff;

		&:first-child {
			top: 0;
		}

		&:nth-child(2) {
			top: 8px;
		}

		&:last-child {
			top: 16px;
		}
	}
}
