/* ================================================================
  News
   ================================================================ */

.p-news {
	max-width: $width-inner-sp;
	margin: 0 auto;
	padding-top: 150px;

	&__card {
		margin: 0 auto 50px;
	}
}
