/* ================================================================
  Service
   ================================================================ */

.p-service {
  padding-top: 150px;

  &__inner {
    width: 100%;
    margin: 0 auto;
    max-width: $width-inner-sp;
  }

  @include mq(pc) {
    max-width: $max-width-inner-pc;
  }
  
  &__subTitle {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 35px;
  }

  &__container {
    margin-bottom: 40px;

    @include mq(pc) {
      display: flex;
      justify-content: space-between;
    }

    &:nth-child(2) {
      @include mq(pc) {
        flex-flow: row-reverse;
      }
    }

    img {
      width: 100%;

      @include mq(pc) {
        width: calc((480/1030) * 100%);
      }
    }
  }

  &__textContainer {
    @include mq(pc) {
      width: calc((480/1030) * 100%);
    }
  }
}
